@import "tailwindcss";

@theme {
  --color-forest-green: #245424;
  --color-olive-lime: #84A83C;
  --color-gold-yellow: #F0C03C;
  --color-cream: #FCF0E4;
}

@theme inline {
  --font-sans: var(--font-plus-jakarta-sans);
}

body {
  background-color: var(--color-cream);
}
